.App {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

hr {
  background-color: #fff;
}

.chatApp {
  border: solid #2d5986;
  border-radius: .75rem;
}

#chatWindow {
  height: 90vh;
  overflow-y: scroll;
}

.chatMessageCard {
  color: #000;
  word-break: break-word;
}

.chatMessageCard:nth-child(even) {
  background-color: #efefef;
  color: #000;
  word-break: break-word;
}

.message {
  padding: 0 5px 5px 5px;
  font-size: 1rem;
  margin: 0;
}

.fromUser {
  padding: 5px 5px 0 5px;
  font-style: italic;
  font-size: 0.75rem;
  margin: 0;
}

.chatInput {
  color: #333;
  padding: 10px;
}

.userList {
  background-color: #2d5986;
  color: #fff;
  height: 90vh;
  padding: .5rem;
  overflow-y: scroll;
}

.userListTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
  color: #fff;
}

.userName {
  font-size: 1rem;
  margin-bottom: 0;
}

.userAvatar {
  display: inline-block;
  align-content: unset;
  padding-right: .5rem;
}

.userInfo {
  display: inline-block;
}

.online {
  color: #0f0;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0;
}

.away {
  color: #ffff00;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0;
}

.playing {
  color: #ff00ff;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0;
}

.offline {
  color: #ff0000;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0;
}

@media (max-width:768px) {
  .userAvatar {
    display: none;
  }
}

